build/
out/
.cache/
.vscode/
.idea/
.vs/
CMakeUserPresets.json
compile_commands.json
*.user
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.exp
*.pdb
*.swp
*.swo
.DS_Store
projects/user/*
!projects/user/.gitkeep
external/*/
!external/.gitkeep
